body,
html {
  height: 100%;
  margin: 0;
  font-family: "Courier New", Courier, monospace;
  background-color: #000;
  color: white;
}

h2 {
  text-align: center;
  margin-bottom: 40px;
}

.inside-section {
  background-color: #27323d;
  padding: 30px;
  border-radius: 10px;
  width: 50%;
  margin: 100px auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.video {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  max-width: 100%;
  margin: 0 auto;
}

.video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media (max-width: 800px) {
  .video-container {
    padding-bottom: 75%;
  }
}