body,
html {
  height: 100%;
  margin: 0;
  font-family: "Courier New", Courier, monospace;
  background-color: #000;
  color: white;
}

.inquiry-section {
  background-color: #27323d;
  padding: 20px;
  border-radius: 10px;
  max-width: 600px;
  margin: 50px auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.text-center {
  text-align: center;
  margin-bottom: 20px;
}

.text-center p {
  font-style: italic;
  color: rgba(255, 255, 255, 0.755);
}

.input-label {
  margin-bottom: 20px;
}

.input-label label {
  display: block;
  margin-bottom: 5px;
}

.input-label input,
.input-label textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: none;
  border-radius: 5px;
  font-family: "Courier New", Courier, monospace;
  box-sizing: border-box;
}

.input-label textarea {
  min-height: 100px;
}

.submitButton {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #55555551;
  color: white;
  border: white solid 1px;
  font-size: 1em;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.submitButton:hover {
  background-color: #555;
}

#result {
  text-align: center;
  margin-top: 20px;
}

@media (max-width: 768px) {
  .inquiry-section {
    width: 90%;
  }
}